{% extends 'base.html.twig' %}

{% block title %}New County{% endblock %}

{% block body %}
    <h1>Create new County</h1>
    <table class="table table-bordered table-condensed table-hover p-2">
        <tbody>
        <tr>
            <th>Naziv</th>
        </tr>
        <tr>
            <td>
                {{ include('county/_form.html.twig') }}
            </td>
        </tr>
        </tbody>
    </table>
    <a href="{{ path('county_index') }}" class="btn btn-outline-secondary"><i class="fas fa-chevron-left"></i></a>
{% endblock %}
