{% extends 'base.html.twig' %}
{% block navigation %}
    {% include 'user/navigation.html.twig' %}
{% endblock %}
{% block title %}Ažuriranje{% endblock %}

{% block body %}
    <h1>Ažuriranje {{ post_type.name }}</h1>
    <table class="table table-bordered table-condensed table-hover p-2">
        <tbody>
        <tr>
            <th>Naziv</th>
            <th class="text-center">Brisanje</th>
        </tr>
        <tr>
            <td>
                {{ include('post_types/_form.html.twig', {'button_label': 'Ažuriraj'}) }}
            </td>
            <td>
                {{ include('post_types/_delete_form.html.twig') }}
            </td>
        </tr>
        </tbody>
    </table>

    <a href="{{ path('post_types_index') }}" class="btn btn-outline-secondary"><i class="fas fa-chevron-left"></i></a>
{% endblock %}
