<form method="post" action="{{ path('courses_delete', {'id': course.id}) }}" class="text-center" onsubmit="return confirm('Da li ste sigurni da želite obrisati?');" class="ml-1">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ course.id) }}">
    <button class="btn btn-outline-danger"><i class="fas fa-trash"></i></button>
</form>
